*,
*::after,
*::before {
  content: "";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bubble-width: 20px;

  --bubble-height: 80px;
  //min 35 max 140
}

body {
  background-color: #ffffff;
}

header {
  background-color: #fefefe;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #111;
  gap: 10px;
  div {
    background-color: #fefefe;
    height: 100%;
    flex: 1;
    &:nth-of-type(2) {
      flex: 3;
    }
  }
}

main {
  padding: 5px;
  overflow: hidden;
  height: 92vh;
  .message {
    position: relative;
    opacity: 1;
    min-height: 25px;
    padding-bottom: 10px;

    //background-color: yellow;
    display: flex;
    gap: 10px;
    animation: slide-up 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) both;

    animation-delay: calc(var(--delay) * 30ms);
    .bubble {
    }

    .circle {
      border-radius: 50%;
      background-color: #eceff1;
      width: 40px;
      height: 40px;
      opacity: 0.9;
    }
    .bubble {
      --bubble-width: 260px;

      width: var(--bubble-width);
      height: var(--bubble-height);
      background-color: #eceff1;
      border-radius: 19px;
      animation: fill-up 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) both;
      animation-delay: calc(var(--delay) * 30ms);
      opacity: 0.8;
    }
  }
}

@keyframes slide-up {
  0% {
    top: 50px;
    opacity: 0;
  }
  50% {
    top: 0px;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fill-up {
  0% {
    width: 10px;
  }
  40% {
    width: var(--bubble-width);
  }
  100% {
    width: var(--bubble-width);
  }
}

//@function ()
